h1{
    color: rgb(249, 249, 249);
}


        /* Si querés que los botones y el menú también cambien (a veces Bootstrap se resiste) */
.navbar, .btn, .form-control {
   font-family: 'Oswald', sans-serif;
  }

  /* Contenedor principal para posicionar la lupa */
.search-container {
    position: relative;
    width: 150px; /* Ajustá el ancho que quieras */
}

.search-input-custom {
    width: 100%;
    padding: 8px 15px 8px 35px;
    /* Un gris oscuro con un toque de transparencia queda genial */
    background-color: rgba(255, 255, 255, 0.1); 
    color: #e0e0e0;             /* Texto gris casi blanco */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Borde muy sutil */
    border-radius: 1px;        /* Redondeo suave, no tan circular */
    font-family: 'Oswald', sans-serif;
    outline: none;
    transition: 0.3s;
}

/* Cuando el usuario hace clic para escribir */
.search-input-custom:focus {
    background-color: rgba(255, 255, 255, 0.15);
    border-color: rgba(255, 255, 255, 0.4);
    color: #ffffff;
}

/* El icono de la lupa (Posicionado adentro) */


.search-icon-inside {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #888; /* Un gris como el de la captura */
    font-size: 1.1rem; /* Ajustá el tamaño si la ves muy chica */
    pointer-events: none;
}

/*Estilo para el carusel de las ofertas */
.title-hero {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase; /* Todo en mayúsculas */
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.9); /* Sombra fuerte */
    letter-spacing: 2px; /* Separa un poquito las letras */
}

/* Sombra para el texto de abajo */
.text-hero {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
    font-weight: 500;
}

/*aca modificamos el carrucel de destacados*/
/*hacemos transparente el fondo*/
#carrusel-oscuro .card,
#carrusel-oscuro .card .bg-white{
    background-color: #2a2a2a !important;
}

/*borramos la lineas grises de los brodes*/
#carrusel-oscuro .card .border-bottom{
    border-bottom: none !important;
}

/*cambiamos las letras de negro a blanco*/
#carrusel-oscuro .card .text-dark{
    color: #ffffff !important;
}

/*ocuresemos la etiqueta blanca de nuevo o usado*/
#carrusel-oscuro .card .bg-light{
    background-color: #2a2a2a !important;
    border-color: #444 !important;
    color: #ccc !important;
}

/* ****LOGIN*** */
.gradient-custom {
/* fallback for old browsers */
background: #6a11cb;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}